body{padding:0px;}
.container{padding:0px 10px;}
.riqi{background: 
#0014FF;
text-align: center;
lighting-color: 2;
line-height: 30px;
color: 
white;}.no .riqi{background: #FF0047}
.money{background: 
#00A3FF;
text-align: center;
lighting-color: 2;
line-height: 117px;
color: 
white;
margin-top: 2px;}.no .money{background: 
#C200FF;}
.item table.hover{background: #f0f0e0;} .item table th{background:#d0d0d0;}